<!DOCTYPE html>
<html lang="en">
<head>
<meta name="robots" content="index, follow">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Sistema web para gestión de alumnos y registro de información académica">



<title>{%block titulo%}sistema{%endblock%}</title>

{%load static%}

<link href="{% static 'inicio/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">
<link href="{% static 'inicio/css/londinium-theme.css'%}" rel="stylesheet" type="text/css">
<link href="{% static 'inicio/css/styles.css'%}" rel="stylesheet" type="text/css">
<link href="{% static 'inicio/css/icons.css'%}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic-ext" rel="stylesheet">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

<script type="text/javascript" src="js/plugins/charts/sparkline.min.js"></script>

<script type="text/javascript" src="js/plugins/forms/uniform.min.js"></script>
<script type="text/javascript" src="js/plugins/forms/select2.min.js"></script>
<script type="text/javascript" src="js/plugins/forms/inputmask.js"></script>
<script type="text/javascript" src="js/plugins/forms/autosize.js"></script>
<script type="text/javascript" src="js/plugins/forms/inputlimit.min.js"></script>



<script type="text/javascript" src="js/plugins/forms/uploader/plupload.queue.min.js"></script>



<script type="text/javascript" src="{% static 'inicio/js/bootstrap.min.js' %}"defer></script>
<script type="text/javascript" src="{% static 'inicio/js/application.js' %}"defer></script>

</head>

<body>

	

 	<div class="page-container">


		<!-- Barra de menú -->
		<div class="sidebar">

         <!--Imagen de Usuario-->

		 <div class="user-menu dropdown">
			<a href="#">
				<img src="{%block imagen%}{%endblock%}" alt="Imagen de usuario">
				<div class="user-info">
					{% block subtitulo %}{% endblock %} <span>DSM</span>
				</div>
			</a>
		 </div>


			<div class="sidebar-content">
				<!-- Menú de navegación -->
				<ul class="navigation">
							<li><a href="{%url 'Principal'%}">Home</a></li>
                            <li><a href="{%url 'Formulario'%}">Registrar</a></li>
                            <li><a href="{%url 'Contacto'%}">Contactanos</a></li>
                            <li><a href="{%url 'ConsultaComentarios'%}">Comentarios</a></li>
							<li><a href="{%url 'Subir'%}">Subir Archivo</a></li>
								
				</ul>
				<!-- /Fin menú -->
			</div>
		</div>
		<!-- /sidebar -->


	<!-- Contenido Principal-->
<main class="page-content">
    {%block encabezado%}{%endblock%}

	<!--barra de navegacion-->

	
	<div class="breadcrumb-line">
		<ul class="breadcrumb">
			<a href="{%url 'Principal'%}">
				{%if request.path == '/'%}
				Principal
				{%else%}
				Principal{{request.path}}
				{%endif%}
			</a>
		</ul>
	</div>
	
	<!--/barra de navegacion -->
    <!--CONTENIDO-->
    {% block contenido %}<!--Template Tag-->
    <!--block sirve para indicar que colocaremos un bloque de 
    contenido a traves de nuestra variable content-->
    {% endblock %}

	

        </main >
		</div>

		<!-- /Contenido Principal-->
</body>
</html>